<header class="container-fluid">
    <p style="color: black">User</p>
</header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked">
                <ul>
                    <li style="list-style-type:none;color:white ; padding-bottom: 20px;">User Profile</li>
                </ul><br>
                <li style="color:white ; font-weight: bold;">Time Sheet</li>
                <ul style="list-style-type:none;">
                    <li><a href="#section2">Previous Timesheet</a></li>
                    <li><a href="#section3">Current Timesheet</a></li>
                    <li><a href="#section4">Summary</a></li>
                </ul>
                <li style="color:white ; font-weight: bold;">Profile</li><br>
                <ul style="list-style-type:none;">
                    <li><a href="#section6">Employee Registraion</a></li>
                    <li class="active"><a href="#section7">Employee Information</a></li>
                </ul>
            </ul><br>
        </div>
        <div class="col-sm-9 container-fluid"
            style="margin-left: 200px;padding: 50px; margin-top: 70px;background-color: #e4e5e7;width: 85.9vw;">
            <div class="locate">
                <h2>Home / Employee Registration</h2>
            </div><br>
            <div class="container" style="background-color:white ;padding: 30px;border-radius: 7px ;">
                <form [formGroup]="employeeForm">
                    <span style="font-size: 30px;margin-left: -12px;font-weight: bold;">Employee Registration</span>

                    <div class="container"
                        style="background-color:#f3f3f3;margin-top: 30px;border-radius: 7px ;padding: 20px;">
                        <h1>Employee Name</h1>
                        <div class="row">
                            <div class="col ">
                                <label for="sname">Surname<span class="required"></span>
                                    <input [formControl]="sname" type="text" name="text" style="width: 34vw;"
                                        placeholder="Your name..">
                                </label>
                                <div *ngIf="sname.touched && sname.invalid" class="error-message">
                                    <div *ngIf="sname.errors.required">Surname is required!</div>
                                    <div *ngIf="sname.errors.pattern">Invalid Surname!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="fname">First Name<span class="required"></span>
                                    <input [formControl]="fname" type="text" name="text" style="width: 34vw;">
                                </label>
                                <div *ngIf="fname.touched && fname.invalid" class="error-message">
                                    <div *ngIf="fname.errors.required">First Name is required!</div>
                                    <div *ngIf="fname.errors.pattern">Invalid First Name!</div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row ">
                            <div class="col">
                                <label for="mname">Middle Name<span class="required"></span>
                                    <input [formControl]="mname" type="text" name="text" style="width: 34vw;">
                                </label>
                                <div *ngIf="mname.touched && mname.invalid" class="error-message">
                                    <div *ngIf="mname.errors.required">Middle Name is required!</div>
                                    <div *ngIf="mname.errors.pattern">Invalid Middle name!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="lname">Last Name<span class="required"></span>
                                    <input [formControl]="lname" type="email" name="email" style="width: 34vw;">
                                </label>
                                <div *ngIf="lname.touched && lname.invalid" class="error-message">
                                    <div *ngIf="lname.errors.required">Last Name is required!</div>
                                    <div *ngIf="lname.errors.pattern">Invalid Last Name!</div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Employee Details</h1>
                        <div class="row">
                            <div class="col">
                                <label for="id">Employee ID
                                    <input [formControl]="id" type="text" name="text" style="width: 34vw;">
                                </label>
                                <div *ngIf="id.touched && id.invalid" class="error-message">
                                    <div *ngIf="id.errors.required">Id is required!</div>
                                    <div *ngIf="id.errors.pattern">Invalid Id!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="designation">Designation
                                    <input [formControl]=" designation" type="text" name="text" style="width: 34vw;">
                                </label>
                                <div *ngIf="designation.touched && designation.invalid" class="error-message">
                                    <div *ngIf="designation.errors.required">Designation is required!</div>
                                    <div *ngIf="designation.errors.pattern">Invalid Designation!</div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <label for="reportingManager">Reporting Manager
                                    <input [formControl]=" reportingManager" type="text" name="text"
                                        style="width: 34vw;">
                                </label>
                                <div *ngIf="reportingManager.touched && reportingManager.invalid" class="error-message">
                                    <div *ngIf="reportingManager.errors.required">Reporting Manager is required!</div>
                                    <div *ngIf="reportingManager.errors.pattern">Invalid Reporting Manager!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="companyEmail">Company E-mail
                                    <input [formControl]=" companyEmail" type="email" name="email" style="width: 34vw;">
                                </label>
                                <div *ngIf="companyEmail.touched && companyEmail.invalid" class="error-message">
                                    <div *ngIf="companyEmail.errors.required">Company E-mail is required!</div>
                                    <div *ngIf="companyEmail.errors.pattern">Invalid Company E-mail!</div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <label for="DOA">Date of Appointmen<br>
                                    <input [formControl]=" DOA" type="date" name="Date" style="width: 34vw;">
                                </label>
                                <div *ngIf="DOA.touched && DOA.invalid" class="error-message">
                                    <div *ngIf="DOA.errors.required">Date of Appointmen is required!</div>
                                    <div *ngIf="DOA.errors.pattern">Invalid Date of Appointmen!</div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Contact Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="mobile">Phone Number
                                    <input [formControl]=" mobile" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="mobile.touched && mobile.invalid" class="error-message">
                                    <div *ngIf="mobile.errors.required">Phone Number is required!</div>
                                    <div *ngIf="mobile.errors.pattern">Invalid Phone Number!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="address">Address
                                    <input [formControl]="address" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="address.touched && address.invalid" class="error-message">
                                    <div *ngIf="address.errors.required">Address is required!</div>
                                    <div *ngIf="address.errors.pattern">Invalid Address!</div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Bank Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="accnum">Account Number
                                    <input [formControl]="accnum" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="accnum.touched && accnum.invalid" class="error-message">
                                    <div *ngIf="accnum.errors.required">Account Number is required!</div>
                                    <div *ngIf="accnum.errors.pattern">Invalid Account Number!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="bank">Bank<br>
                                    <input [formControl]="bank" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="bank.touched && bank.invalid" class="error-message">
                                    <div *ngIf="bank.errors.required">Bank is required!</div>
                                    <div *ngIf="bank.errors.pattern">Invalid Bank!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="branch">Branch<br>
                                    <input [formControl]="branch" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="branch.touched && branch.invalid" class="error-message">
                                    <div *ngIf="branch.errors.required">Branch is required!</div>
                                    <div *ngIf="branch.errors.pattern">Invalid Branch!</div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div><br>
                        <h1>Basic Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="BOD">Birthday
                                    <input [formControl]="BOD" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="BOD.touched && BOD.invalid" class="error-message">
                                    <div *ngIf="BOD.errors.required">Birthday is required!</div>
                                    <div *ngIf="BOD.errors.pattern">Invalid Birthday!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="gender">Gender
                                    <input [formControl]="gender" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="gender.touched && sname.invalid" class="error-message">
                                    <div *ngIf="gender.errors.required">Gender is required!</div>
                                    <div *ngIf="gender.errors.pattern">Invalid Gender!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="age">Age<br>
                                    <input [formControl]="gender" type="text" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="age.touched && age.invalid" class="error-message">
                                    <div *ngIf="age.errors.required">Age is required!</div>
                                    <div *ngIf="age.errors.pattern">Invalid Age!</div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div><br>
                        <h1>Login Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="password">Password
                                    <input type="password" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="password.touched && password.invalid" class="error-message">
                                    <div *ngIf="password.errors.required">Password is required!</div>
                                    <div *ngIf="password.errors.pattern">Invalid Password!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="password">Confirm Password
                                    <input [formControl]="password" type="password" name="text " style="width:34vw ;">
                                </label>
                                <div *ngIf="password.touched && password.invalid" class="error-message">
                                    <div *ngIf="password.errors.required">Password is required!</div>
                                    <!-- <div *ngIf="password.errors.pattern">Invalid Password!</div> -->
                                    <div *ngIf="password.errors.confirmedValidator">Password does not match</div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Additional Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="note">Note<br>
                                    <textarea [formControl]="note" rows="5" cols="100"></textarea>
                                </label>
                                <div *ngIf="sname.touched && sname.invalid" class="error-message">
                                    <div *ngIf="sname.errors.required">Surname is required!</div>
                                    <div *ngIf="sname.errors.pattern">Invalid Surname!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="padding: 20px;">
                                <button #savebtn type="button" class="btn btn-primary" style="width: 34vw;" (cancel)="''"
                                (confirm)="save(savebtn)"
                                [disabled]="employeeForm.disabled"
                                class="btn save-btn-style btn-primary"
                                mwlConfirmationPopover
                                placement="top">Register</button>
                            </div>
                            <div class="col" style="padding: 20px;">
                                <button type="button" class="btn btn-danger" style="width: 35vw;"(cancel)="''"
                                (confirm)="cancel(savebtn)"
                                [disabled]="employeeForm.disabled"
                                class="btn close-btn-style btn-danger"
                                mwlConfirmationPopover
                                placement="top"> Cancel</button>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="tabel" style="border: 2px solid black;width: 100%;text-align: center;">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Address</th>
                                            <th>Phone Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of allEmployee; let i=index">
                                            <td class="text-center">{{i + 1}}</td>
                                            <td>{{data?.id}}</td>
                                            <td>{{data?.fName}}</td>
                                            <td>{{data?.address}}</td>
                                            <td>{{data?.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" *ngIf="allEmployee.length===0" class="table-empty">No any
                                                empolyee found
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>