<header class="container-fluid">
    <p style="color: black">User</p>
</header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked">
                <ul>
                    <li style="list-style-type:none;color:white ; padding-bottom: 20px;">User Profile</li>
                </ul><br>
                <li style="color:white ; font-weight: bold;">Time Sheet</li>
                <ul style="list-style-type:none;">
                    <li><a href="#section2">Previous Timesheet</a></li>
                    <li><a href="#section3">Current Timesheet</a></li>
                    <li><a href="#section4">Summary</a></li>
                </ul>
                <li style="color:white ; font-weight: bold;">Profile</li><br>
                <ul style="list-style-type:none;">
                    <li><a href="#section6">Employee Registraion</a></li>
                    <li class="active"><a href="#section7">Employee Information</a></li>
                </ul>
            </ul><br>
        </div>
        <div class="col-sm-9 container-fluid"
            style="margin-left: 200px;padding: 50px; margin-top: 70px;background-color: #e4e5e7;width: 85.9vw;">
            <div class="locate">
                <h2>Home / Employee Registration</h2>
            </div><br>
            <div class="container" style="background-color:white ;padding: 30px;border-radius: 7px ;">
                <form [formGroup]="employeeForm">
                    <h4 class="p-o m-0 my-2 ">{{this.employeeForm.value.id ? 'Update' : 'Create'}} Employee
                        {{this.employeeForm.value.id?.id ? '(' + this.employeeForm.value.fname + ')' : ''}}
                    </h4>
                    <div class="container"
                        style="background-color:#f3f3f3;margin-top: 30px;border-radius: 7px ;padding: 20px;">
                        <h1>Employee Name</h1>
                        <div class="row">
                            <div class="col ">
                                <label for="sname">Surname<span class="required"></span>
                                    <input Name="sname" type="text" name="text" style="width: 34vw;"
                                        placeholder="Your Surname..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.sname?.touched && this.employeeForm?.value.sname.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.sname.errors.required">Surname is required!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="fname">First Name<span class="required"></span>
                                    <input Name="fname" type="text" name="text" style="width: 34vw;"
                                        placeholder="Your First-name..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.fname.touched && this.employeeForm?.value.fname.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.fname.errors.required">First Name is required!
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row ">
                            <div class="col">
                                <label for="mname">Middle Name<span class="required"></span>
                                    <input Name="mname" type="text" name="text" style="width: 34vw;"
                                        placeholder="Your Middle-name..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.mname.touched && this.employeeForm?.value.mname.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.mname.errors.required">Middle Name is required!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="lname">Last Name<span class="required"></span>
                                    <input FormControllName="lname" type="email" name="email" style="width: 34vw;"
                                        placeholder="Your Last name..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.lname.touched && this.employeeForm?.value.lname.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.lname.errors.required">Last Name is required!
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Employee Details</h1>
                        <div class="row">
                            <div class="col">
                                <label for="id">Employee ID
                                    <input FormControllName="idNumber" type="text" name="text" style="width: 34vw;"
                                        placeholder="Your ID..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.idNumber.touched && this.employeeForm?.value.idNumber.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.idNumber.errors.required">Id is required!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="designation">Designation
                                    <input FormControllName=" designation" type="text" name="text" style="width: 34vw;"
                                        placeholder="Your Designation..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.this.employeeForm?.value.designation.touched && this.employeeForm?.value.designation.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.designation.errors.required">Designation is
                                        required!</div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <label for="reportingManager">Reporting Manager
                                    <input FormControllName=" reportingManager" type="text" name="text"
                                        style="width: 34vw;" placeholder="Your Reporting Manager..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.reportingManager.touched && this.employeeForm?.value.reportingManager.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.reportingManager.errors.required">Reporting
                                        Manager is required!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="companyEmail">Company E-mail
                                    <input FormControllName=" companyEmail" type="email" name="email"
                                        style="width: 34vw;" placeholder="Your Company E-mail..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.companyEmail.touched && this.employeeForm?.value.companyEmail.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.companyEmail.errors.required">Company E-mail is
                                        required!</div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <label for="DOA">Date of Appointment<br>
                                    <input FormControllName=" DOA" type="date" name="Date" style="width: 34vw;"
                                        placeholder="Your Date of Appointment..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.DOA.touched && this.employeeForm?.value.DOA.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.DOA.errors.required">Date of Appointmen is
                                        required!</div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Contact Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="mobile">Phone Number
                                    <input FormControllName=" mobile" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Phone Number..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.mobile.touched && this.employeeForm?.value.mobile.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.mobile.errors.required">Phone Number is
                                        required!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="address">Address
                                    <input FormControllName="address" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Address..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.address.touched && this.employeeForm?.value.address.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.address.errors.required">Address is required!
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Bank Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="accnum">Account Number
                                    <input FormControllName="accnum" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Account Number.">
                                </label>
                                <div *ngIf="this.employeeForm?.value.accnum.touched && this.employeeForm?.value.accnum.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.accnum.errors.required">Account Number is
                                        required!</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="bank">Bank<br>
                                    <input FormControllName="bank" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Bank..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.bank.touched && this.employeeForm?.value.bank.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.bank.errors.required">Bank is required!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="branch">Branch<br>
                                    <input FormControllName="branch" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Bank-branch..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.branch.touched && this.employeeForm?.value.branch.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.branch.errors.required">Branch is required!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div><br>
                        <h1>Basic Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="BOD">Birthday
                                    <input FormControllName="BOD" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Birthday..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.BOD.touched && this.employeeForm?.value.BOD.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.BOD.errors.required">Birthday is required!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="gender">Gender
                                    <input FormControllName="gender" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Gender..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.gender.touched && this.employeeForm?.value.gender.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.gender.errors.required">Gender is required!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="age">Age<br>
                                    <input FormControllName="gender" type="text" name="text " style="width:34vw ;"
                                        placeholder="Your Age..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.age.touched && this.employeeForm?.value.age.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.age.errors.required">Age is required!</div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div><br>
                        <h1>Login Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="password">Password
                                    <input type="password" name="text " style="width:34vw ;"
                                        placeholder="Your Password..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.password.touched && this.employeeForm?.value.password.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.password.errors.required">Password is required!
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="password">Confirm Password
                                    <input FormControllName="password" type="password" name="text " style="width:34vw ;"
                                        placeholder="Re-enter Your Password..">
                                </label>
                                <div *ngIf="this.employeeForm?.value.password.touched && this.employeeForm?.value.password.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.password.errors.required">Password is required!
                                    </div>
                                    <div *ngIf="this.employeeForm?.value.password.errors.confirmedValidator">Password
                                        does not match</div>
                                </div>
                            </div>
                        </div><br>
                        <h1>Additional Information</h1>
                        <div class="row">
                            <div class="col">
                                <label for="note">Note<br>
                                    <textarea FormControllName="note" rows="5" cols="100"
                                        placeholder="Your Note.."></textarea>
                                </label>
                                <div *ngIf="this.employeeForm?.value.note.touched && this.employeeForm?.value.note.invalid"
                                    class="error-message">
                                    <div *ngIf="this.employeeForm?.value.note.errors.required">Surname is required!
                                    </div>
                                    <div *ngIf="this.employeeForm?.value.note.errors.pattern">Invalid Surname!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row text-center py-2">
                                <div class="col-6">
                                    <button (click)="cancel()" class="btn btn-danger text-white col-12">Cancel
                                    </button>
                                </div>

                                <!-- Save buttons -->
                                <div class="col-6" *ngIf="!this.employeeForm?.value?.sname; else elseBlock">
                                    <button [disabled]="!employeeForm.valid" (click)="saveEmployee()"
                                        class="btn btn-success text-white col-12">
                                        Save
                                    </button>
                                </div>

                                <!-- Update Button -->
                                <ng-template #elseBlock>
                                    <div class="col-6">
                                        <button [disabled]="!employeeForm.valid" (click)="updateEmployee()"
                                            class="btn btn-warning text-white col-12">
                                            Update
                                        </button>

                                    </div>
                                </ng-template>

                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="tabel" style="border: 2px solid black;width: 100%;text-align: center;">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Address</th>
                                            <th>Phone Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of allEmployee; let i=index">
                                            <td class="text-center">{{i + 1}}</td>
                                            <td>{{data?.id}}</td>
                                            <td>{{data?.fName}}</td>
                                            <td>{{data?.address}}</td>
                                            <td>{{data?.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" *ngIf="allEmployee.length===0" class="table-empty">No any
                                                empolyee found
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>